<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.ues.fia.eisi.pdm115proyecto1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pdm115proyecto1">
        <activity android:name=".MenuControlFisicoActivity"></activity>
        <activity android:name=".MenuPrestamoActivity" />
        <activity android:name=".EditarPrestamoActivity" />
        <activity android:name=".AgregarPrestamoActivity" />
        <activity android:name=".EditarActividadActivity" />
        <activity android:name=".MenuActividadActivity" />
        <activity android:name=".AgregarActividadActivity" />
        <activity android:name=".MenuPrincipalActivityDos" />
        <activity android:name=".EditarUsuarioActivity" />
        <activity android:name=".AgregarUsuarioActivity" />
        <activity android:name=".MenuUsuarioActivity" />
        <activity android:name=".MenuLibroActivity" />
        <activity android:name=".EditarLibroActivity" />
        <activity android:name=".MenuTesisActivity" />
        <activity android:name=".EditarTesisActivity" />
        <activity android:name=".EditarEquipoInformaticoActivity" />
        <activity android:name=".AgregarEquipoInformaticoActivity" />
        <activity android:name=".MenuEquipoInformaticoActivity" />
        <activity android:name=".AgregarTesisActivity" />
        <activity android:name=".AgregarLibro" />
        <activity android:name=".MenuRazonActivity" />
        <activity android:name=".EditarCategoriaActivity" />
        <activity android:name=".CategoriaActivity" />
        <activity android:name=".AgregarCategoriaActivity" />
        <activity android:name=".MenuAutorActivity" />
        <activity android:name=".EditarRazonActivity" />
        <activity android:name=".EnviarTrasladoActivity" />
        <activity android:name=".MenuPrincipalEvento" />
        <activity android:name=".MenuPrincipalInventario" />
        <activity android:name=".MenuPrincipalPersonas" />
        <activity android:name=".MenuPrincipalDocumentos" />
        <activity android:name=".MenuPrincipalEquipoInformatico" />
        <activity android:name=".AgregarAlumnoActivity" />
        <activity android:name=".EditarAutorActivity" />
        <activity android:name=".AgregarAutorActivity" />
        <activity android:name=".EditarAlumnoActivity" />
        <activity android:name=".MenuAlumnoActivity" />
        <activity android:name=".EditarDocenteActivity" />
        <activity android:name=".AgregarDocenteActivity" />
        <activity android:name=".MenuDocenteActivity" />
        <activity android:name=".MenuPrincipalActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>